<div id='background-image-box'>
	<%= image_tag '/images/background.jpg', :id => 'background-image' %>
</div>

<div id='boulder-creek-title'>
	Boulder Creek Tubing
</div>

<div id='content'>
	<h1 class='title'>Should I go tubing today?</h1>

	<p class='verdict <%= verdict_class(@conditions.verdict) %>'>
		<%= verdict_text(@conditions.verdict) %>
	</p>

	<div id='left'>
		<h2>River</h2>

		<p class='data heading'>
			<%= river_description(@conditions.cfs) %>
			<p class='data'><%= @conditions.cfs %> cfs</p>
		</p>

	</div>

	<div id='right'>
		<h2>Weather</h2>

		<p class='data heading'>
			<%= weather_description(@conditions.temperature,
						@conditions.today_high,
						@conditions.is_good) %>
		</p>

		<p class='data'>
			<%= @conditions.temperature %> F, <%= @conditions.condition %>
		</p>

		<p class='data'>
			High: <%= @conditions.today_high %> F, <%= @conditions.today_condition %>
		</p>

	</div>

</div>

<script type='text/javascript'>

	$( document ).ready( function(){
			centerBackground();
	} );

	function centerBackground() {
		var windowWidth = $( window ).width();
		var windowHeight = $( window ).height();

		if( windowWidth > windowHeight ) {
			$( "#background-image" ).width( windowWidth );
		} else {
			$( "#background-image" ).height( windowHeight );
		}
	}
</script>
