<div id='background-image-box'>
	<%= image_tag '/images/background.jpg', :id => 'background-image' %>
</div>

<div id='boulder-creek-title'>
	Boulder Creek Tubing
</div>

<div id='content'>
	<h1 class='title'>Should I go tubing today?</h1>

	<p class='verdict <%= verdict_class(@river_conditions.verdict) %>'>
		<%= verdict_text(@river_conditions.verdict) %>
	</p>

	<div id='left'>
		<h2>River</h2>

		<p class='data heading'>
			<%= river_description(@river_conditions.cfs) %>
			<p class='data'><%= @river_conditions.cfs %> cfs</p>
		</p>

	</div>

	<div id='right'>
		<h2>Weather</h2>

		<p class='data heading'>
			<%= weather_description(@river_conditions.temperature,
						@river_conditions.today_high,
						@river_conditions.is_good) %>
		</p>

		<p class='data'>
			<%= @river_conditions.temperature %> F, <%= @river_conditions.condition %>
		</p>

		<p class='data'>
			High: <%= @river_conditions.today_high %> F, <%= @river_conditions.today_condition %>
		</p>

	</div>

</div>
